.light-blue-color {
    color: #4BCAFF;
}

h1 {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
}

body {
    margin-top: 63px;
    margin-left: 100px;
}

.navigation-block {
    margin-top: 40px;
    width: 1280px;
    height: 69px;
    background-color: #35444F;
}


.navigation-block li {
    border-color: #FFFFFF;
    border-right: 1px solid;
}

.navigation-block li:first-child {
    border-left: 1px solid;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation-menu li{
    color: #FFFFFF;
    font-size: 24px;
    padding: 19px 45px;
}

.navigation-menu div:hover{
    background-color: #222F3A;
}

main {
    display: flex;
    margin-top: 50px;
}

.aside-left-menu {
    width: 344px;
    height: 399px;
    border: 1px solid;
}

.aside-menu {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.aside-menu-block {
    width: 100%;
    height: 79.7px;
    display: flex;
    align-items: center;
}

.aside-menu-block li{
    margin-left: 42px;
}

.aside-menu-block:hover{
    background: #DBDBDB;
    color: #000;
    font-size: 27px;
    font-weight: 400;
}

.main-photo-border {
    margin-left: 50px;
    width: 885PX;
    height: 529px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-photo-border img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s;
}

.main-photo-border img:hover {
    transform: scale(1.3);
}

.content-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    width: 885PX;
    margin-left: 50px;
}

.footer-menu {
    margin-top: 54px;
    background-color: #63696E7A;
    width: 1280px;
    height: 69px;
}

.footer-menu ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-text {
    color: #0C1927;
    font-size: 28px;
    font-weight: 400px;
}

.footer-menu li{
    margin-left: 40px;
}

.footer-text div{
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-text div:hover{
    color: #3181A6;
    border-bottom: 1.5px solid;  
}

.footer-copyright{
    margin-left: 135px;
    color: #010101;
    font-size: 24px;
}